<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Usuario</title>
</head>
<body>
    <h1>Editar Usuarios</h1>

    <form class="contenido-edit">
        <label>Nombrte</label>
        <input type="text">

        <label>Apellidos</label>
        <input type="text">

        <label>Domicilio</label>
        <input type="text">

        <label>Telefono</label>
        <input type="tel">

        <label>Correo</label>
        <input type="email">

    </form>
    
</body>
</html>